.navbar {
    height: $space-size-6;
    background: $black;

    @media(max-width: 1360px) {
        height: auto;
        padding-bottom: $space-size / 2;
    }

    @media(min-width: 1460px) AND (max-width: 1800px) {
        height: auto;
        padding-bottom: $space-size / 2;
    }


    a {
        color: $gray200;
    }

    div.container {
        @media(min-width: 1460px) AND (max-width: 1800px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media(max-width: 1360px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &-wrapper {
        @media(max-width: 1360px) {
            width: 100%;
        }

        @media(min-width: 1460px) AND (max-width: 1800px) {
            width: 100%;
        }

        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    &-dropdown {
        a {
            flex-grow: 0;
            flex-shrink: 0;
            margin-top: $space-size / 2;
        }

        display: flex;
        flex-direction: column;

        &.is-opened {
            ul.navbar-dropdown-el {
                display: block;
            }
        }

        &-el {
            z-index: 1;
            display: none;
            right: $space-size;
            top: calc(100% - 4px);
            position: absolute;
            padding: $space-size / 2 $space-size;
            background: white;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
            border-radius: 2px;
            margin-top: $space-size / 4;
            width: 120px;

            li {
                padding: $space-size;
                cursor: pointer;
                padding: 0 !important;

                form {
                    width: 100%;
                }

                button {
                    background: none;
                    border: none;
                    width: 100%;
                    text-align: left;
                    display: inline-block;
                    padding: $space-size / 4 $space-size;
                    cursor: pointer;
                    border-radius: 0;

                    &:hover {
                        background: $gray100;
                    }
                }

                a {
                    padding: $space-size / 4 $space-size;
                    display: inline-block;

                    &:hover {
                        background: $gray100;
                    }
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &-brand {
        display: flex;
        height: 100%;
        align-items: center;

        &-text {
            color: $gray300;
            padding: 0 $space-size-2;
        }
    }

    &-logo {
        color: $white !important;
        font-size: 16px;
        font-weight: 500;
        padding: 0 $space-size-2 0 0;
        border-right: 1px solid $white;
    }

    &-dealer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $space-size-6;
        margin: 0 $space-size-3;

        img {
            height: calc(100% - 16px);
        }
    }

    a.navbar-avatar {
        width: $space-size-5;
        height: $space-size-5;
        overflow: hidden;
        border-radius: 100%;

        img {
            width: 100%;
        }
    }

    &-select.dx-editor-outlined {
        background: lighten($black, 10%) !important;
        border: none !important;

        .dx-dropdowneditor-icon {
            color: $gray200;
        }

        input {
            color: $white;
        }

        &.dx-state-hover {
            .dx-dropdowneditor-icon {
                background: lighten($black, 20%) !important;
            }
        }
    }

    &-links {
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            list-style: none;
            margin-left: $space-size-2;
            padding: 0 $space-size-2;
            position: relative;

            &.is-active {
                &:after {
                    content: "";
                    display: block;
                    background: $blue;
                    height: $space-size / 4;
                    width: 30%;
                    border-radius: 2px;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }

                a {
                    &, i {
                        color: $white;
                    }
                }
            }

            a {
                height: 100%;
                display: flex;
                align-items: center;

                &:hover {
                    &, i {
                        color: $white;
                    }
                }

                i {
                    font-size: 15px;
                    margin-right: $space-size;
                    color: darken($gray200, 25%);
                }
            }
        }

        &-user {
            li {
                display: flex;
                align-items: center;
                margin-left: 0;
            }
        }
    }
}
