.details-bar {
    height: $space-size-4;
    background: $gray300;
    display: flex;
    align-items: center;

    &-list {
        height: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;

        li {
            list-style: none;
            margin-right: $space-size-4;
            color: $secondary-text-color;
            span{
                margin-right: $space-size;
                font-weight: 500;
            }
            i{
                font-size: 15px;
                margin-left: $space-size;
                &:hover{
                    color: $blue;
                    cursor: pointer;
                }
            }
        }
    }
}
