@{
}

<div class="wrapper">
    <div class="wrapper-header d-flex middle between">
        <h4 class="wrapper-header-title">Panel główny - Administrator</h4>
        <div>
            <div id="addBtnId"></div>
        </div>
    </div>
    <hr />
    <div class="wrapper-inner">
        <div class="row" style="height: 500px"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#addBtnId").dxButton({
            elementAttr: { class: "btn btn-primary" },
            text: "@ButtonNameResource.Add.ToScriptStringSafe()",
            type: "default"
        });
    });
</script>
