@{
}

<div class="wrapper wrapper-dashboard">
    <div class="wrapper-header-dashboard d-flex middle between">
        <h4 class="wrapper-header-title">Panel główny - Administrator</h4>
    </div>
    <hr />
    <div class="wrapper-inner">
        <div class="row" style="height: 500px"></div>
    </div>
</div>
