<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--<variable name="logDirectory" value="${basedir}/logs"/>-->
  <variable name="logDirectory" value="c:\temp"/>

  <targets async="true">
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target name="fileActionTrace" xsi:type="File"
         layout="${level}  ${message}"
         fileName="${logDirectory}/actionTrace-${shortdate}.txt"
         keepFileOpen="false"
        />
    <target name="fileInfo" xsi:type="File"
            layout="${level}  ${message}"
            fileName="${logDirectory}/info-${shortdate}.txt"
            keepFileOpen="false"
        />
    <target name="fileInternalInfo" xsi:type="File"
         layout="${level}  ${message}"
         fileName="${logDirectory}/info-internal-${shortdate}.txt"
         keepFileOpen="false"
        />
    <target name="fileWarn" xsi:type="File"
        layout="${level}  ${message}  ${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}"
        fileName="${logDirectory}/error-${shortdate}.txt"
        keepFileOpen="false"
         />
    <target name="fileError" xsi:type="File"
           layout="${level}  ${message}  ${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}"
           fileName="${logDirectory}/error-${shortdate}.txt"
           keepFileOpen="false"
          />
  </targets>

  <rules>
    <logger name="TraceLog" level="Trace" writeTo="fileActionTrace" final="true" enabled ="false" />
    <logger name="TraceLog" level="Info" writeTo="fileActionTrace" final="true" enabled ="true" />

    <logger name="*" maxlevel="Debug" writeTo="fileInfo" enabled ="true" />
    <logger name="*" level="Info" writeTo="fileInfo" enabled ="true"/>
    <logger name="*" level="Warn" writeTo="fileWarn" enabled ="true"/>
    <logger name="*" level="Error" writeTo="fileError" enabled ="true"/>
    <logger name="*" level="Fatal" writeTo="fileError" enabled ="true"/>
  </rules>
</nlog>