//TEXT
$primary-text-color: #2D3F5E;
$secondary-text-color: #8CA4CF;
//GROUNDS
$background: #EFF3F9;
$foreground: #FFFFFF;
//COLORS
$black: #1C1C1C;
$blue: #437CE3;
$white: #FFFFFF;
$red: #2D3F5E;
$gray100: #F6F8FC;
$gray200: #D8DEE8;
//SPACING
$space-size: 8px;
$space-size-2: $space-size * 2;
$space-size-3: $space-size * 3;
$space-size-4: $space-size * 4;
$space-size-5: $space-size * 5;
$space-size-6: $space-size * 6;
$space-size-7: $space-size * 7;
$space-size-8: $space-size * 8;



