$gray100: #F5F5F5;
$gray200: #B8B8B8;
$gray300: #E2E2E2;
$gray400: #6D6D6D;
$black: #1C1C1C;
$blue: #457AE1;
$white: #F3F3F3;
$red: #CD554D;
//SPACING
$secondary-text-color: $gray400;
$space-size: 8px;
$space-size-2: $space-size * 2;
$space-size-3: $space-size * 3;
$space-size-4: $space-size * 4;
$space-size-5: $space-size * 5;
$space-size-6: $space-size * 6;
$space-size-7: $space-size * 7;
$space-size-8: $space-size * 8;
$space-size-9: $space-size * 9;
$space-size-10: $space-size * 10;
$space-size-11: $space-size * 11;

