.dx-button {
    border-radius: 4px;

    .dx-icon {
        font-size: 15px !important;
    }

    &.dx-button-mode-text {
        .dx-button-content {
            padding: 7px $space-size 8px;

            .dx-icon {
                margin-right: 6px;
            }
        }
    }
}

.btn-datagrid {
    color: $blue;
    margin: 0 6px;
    font-size: 13.5px;

    &-danger {
        color: $red;
    }

    &-normal {
        color: $secondary-text-color;
    }

    &:hover {
        color: $secondary-text-color;
    }
}

.btn-small {
    font-size: 12px !important;

    .dx-button-content {
        padding: 3px 5px !important;
    }
}

.btn {
    margin-left: 5px;

    &-default-outlined {
        color: $blue !important;
        border-color: $blue !important;
    }

    &-default {
        background-color: $blue !important;
    }

    &-danger {
        background-color: $red !important;
    }

    &-normal {
        background-color: #E7E8EF !important;
        border: none;
        color: #646871 !important;
    }
}
