.dx-datagrid {
    border: 1px solid #E6ECF5;
    border-bottom: 0;
    border-radius: 4px;
    overflow: hidden;

    .dx-data-row {
        &.dx-row-alt {
            td {
                background: white;
            }
        }

        td {
            background: #EEF1F8;
        }
    }
}

.grid-header {
    padding: $space-size-2 0 $space-size 0;

    &-title {
        font-size: 13px;
        color: $primary-text-color;
        margin: auto 1px;
    }
}
