.dx-datagrid {
    border: 1px solid #E6ECF5;
    border-bottom: 0;
    border-radius: 4px;
    overflow: hidden;

    .dx-data-row {
        &.dx-row-alt {
            td {
                background: white;
            }
        }

        td {
            background: #EEF1F8;
        }
    }
}
