.page-header {
    display: flex;
    align-items: center;
    margin-top: $space-size;
    //  margin-bottom: $space-size;
    &-title {
        font-weight: 500;
        margin-right: $space-size-2;
        font-size: $space-size-2;
        margin: $space-size + 2 $space-size-2 $space-size + 2 0;
        &-large{
            font-size: 22px;
        }
    }
}
