.panel {
    margin-bottom: 10px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
    border-radius: 2px;
    display: block;

    &-outlined {
        border: 1px solid $gray300;
        box-shadow: none;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        display: flex;
    }

    &.content {
        padding: 0 $space-size-2 $space-size-2 $space-size-2;
    }

    &.tile {
        padding: $space-size-2;
        text-align: center;
        color: $black;
        margin: 0;

        &:hover {
            -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);

            &, i {
                color: $blue;
            }
        }

        i {
            margin-right: $space-size;
            color: lighten($black, 35%);
        }
    }

    .panel-left {
        padding: 0 0 0 20px;
        display: flex;
        flex-direction: column;

        &-header {
            text-align: left;
        }

        &-header {
            font-weight: 500;
            position: relative;
            padding-left: 10px;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                border-left: 2px solid #457AE1;
            }
        }

        &-row {
            flex-direction: row;
            align-items: center;
        }
    }

    &.columns {
        .panel-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-right: 0.5rem;
            padding-left: 0.5rem;

            .panel-left {
                padding: 0 20px 0 20px;
                width: 30%;
                min-width: 250px;

                &-text {
                    text-align: left;
                    font-size: 11px;
                    margin-top: 0px;
                    color: #6D6D6D;
                    line-height: 16px;
                }
            }

            .panel-right {
                padding: 12px 20px 12px 0;
                /*display: flex;
                flex-direction: column;
                justify-content: center;*/
                flex-grow: 1;
            }
        }
    }

    &.rows {
        .panel-right {
            padding: 8px 20px 12px 20px;
        }
    }

    .group-row {
        margin: 8px 0 8px 0;
        width: 100%;

        &-label {
            margin-bottom: 4px;
        }
    }
}

.form-group {
    margin: $space-size 0;

    label {
        display: inline-block;
        margin-bottom: $space-size / 2;
    }
}
