.tabpanel {
    margin-bottom: -5px;
}

div.dx-tabpanel {
    &.dx-state-focused {
        .dx-multiview-wrapper {
            border: none;
        }
    }

    .dx-multiview-wrapper {
        border: none;
    }

    .dx-tabs {
        border: none;
        display: flex;
        background: none;

        .dx-tabs-wrapper {
            align-items: center;
            display: flex;
        }
    }

    .dx-tabpanel-container {
        position: absolute;
        width: auto;
        height: auto;
        padding: 0 20px 20px $space-size;
    }

    & .dx-tab {
        width: auto;

        .dx-item-content {
            margin-bottom: $space-size-2;
        }

        span, & {
            font-weight: 500;
            color: $secondary-text-color;
            line-height: 25px;
        }

        i {
            font-size: 22px;
            margin-right: $space-size-2;
            color: $secondary-text-color;
        }

        margin: 0 $space-size-2 0 0;
        padding: 0 $space-size;

        &.dx-state-hover {
            background: none;

            span, & {
                color: $black;
            }
        }

        &-selected {
            background: none;

            &:before {
                display: none;
            }

            span, & {
                color: $primary-text-color;
            }

            i {
                font-size: 22px;
                margin-right: $space-size-2;
                color: $blue;
            }

            &:after {
                content: '';
                width: 100%;
                height: 3px;
                border: 1px solid $blue;
                border-radius: 2px 2px 0px 0px;
                background: $blue;
                top: auto;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}
