@model ClinicDetailsVM
@{
    ViewBag.Title = UtilsResource.Clinic_Details;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Dashboard", new { area = AreaNames.Dashboard_Area })">@UtilsResource.Home.ToHtmlStringSafe()</a></li>
        <li class="breadcrumb-item active" aria-current="page">@UtilsResource.User_Details.ToHtmlStringSafe()</li>
    </ol>
</nav>

<div class="wrapper">
    <div class="wrapper-header d-flex middle between">
        <h4 class="wrapper-header-title">@UtilsResource.Clinic_Details.ToHtmlStringSafe() (<span id="totalCountId">0</span>)</h4>
        <div>
        </div>
    </div>
    <hr />
    <div class="wrapper-inner">
        <div class="row" style="height: 500px"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
    });
</script>