@using Microsoft.AspNetCore.Identity

@{
    string tab = Context.Request.RouteValues.FirstOrDefault(x => x.Key == "controller").Value.ToString();
}

@if (User.Identity.IsAuthenticated && tab != "Account")
{
    <div class="left-nav-user-image">
        <img id="avatarId" src="@(Context.Session.GetObject<AppUserData>(SessionVariableNames.AppUserData).AvatarUrl)" />
        @if (tab != "Account")
        {
            <form class="left-nav-user-login" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = AreaNames.Membership_Area })">
                <button type="submit" id="logoutBtnId"><i class="fas fa-power-off"></i></button>
            </form>
        }
    </div>
    <p class="left-nav-user-name left-nav-user-name-loading text-center">@(Context.Session.GetObject<AppUserData>(SessionVariableNames.AppUserData).FirstName)</p>
}

<div id="logoutTooltip">@ButtonNameResource.Logout.ToHtmlStringSafe()</div>

<script>
    $(document).ready(function () {
        $("#logoutTooltip").dxTooltip({
            target: "#logoutBtnId",
            showEvent: "mouseenter",
            hideEvent: "mouseleave",
            closeOnOutsideClick: false
        });
    });
</script>
