@{
    ViewBag.Title = UtilsResource.About;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Dashboard", new { area = AreaNames.Dashboard_Area })">@UtilsResource.Home.ToHtmlStringSafe()</a></li>
        <li class="breadcrumb-item active" aria-current="page">@UtilsResource.About.ToHtmlStringSafe()</li>
    </ol>
</nav>

<div class="wrapper">
    <div class="wrapper-header-dashboard d-flex middle between">
        <h4 class="wrapper-header-title">@UtilsResource.About.ToHtmlStringSafe()</h4>
    </div>
    <hr />
    <div class="wrapper-inner">
        <div class="row">
            <div class="col-xs-4">
                <img class="about-image" src="~/images/utils/about.png" />
            </div>
        </div>
    </div>
</div>

