body {
    background: $background;
    margin: 0;
    font-family: "Poppins";
    font-size: 12px;
    text-align: left;

    a {
        text-decoration: none;
        color: $blue;
    }
}

.container {
    margin: 0px 0px 20px 112px;
    padding: 0px 156px 30px 156px !important;
    width: auto;
    max-width: calc(100% - 268px) !important;

    &-login {
        margin: auto;
    }
}

hr {
    border-color: $gray300;
    border-radius: 2px;
    border-width: 1px !important;
    opacity: 0.6;
    margin: 0px 16px;
}