<div id="visitsContainerId" style="display: none">
    <div class="row">
        <div class="col-xs-12 center">
            <h3>@UtilsResource.VisitReport_Title.ToHtmlStringSafe()</h3>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-xs-12 center">
            <div id="visitChartId"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var dataSource = [
            {
                Month: "08.2020",
                Count: 5
            }, {
                Month: "09.2020",
                Count: 8
            }, {
                Month: "10.2020",
                Count: 4
            }, {
                Month: "11.2020",
                Count: 9
            }, {
                Month: "12.2020",
                Count: 12
            }, {
                Month: "01.2021",
                Count: 7
            }];

        $("#visitChartId").dxChart({
            argumentAxis: {
                valueMarginsEnabled: false
            },
            dataSource: dataSource,
            legend: {
                visible: false,
            },
            palette: "Soft Blue",
            series: {
                type: "line",
                valueField: "Count",
                argumentField: "Month",
            },
            tooltip: {
                enabled: true,
                font: {
                    size: 14,
                    weight: 600
                },
                paddingLeftRight: 12,
                paddingTopBottom: 12
            }
        });
    });
</script>