<div id="visitsContainerId" style="display: none">
    <div class="row">
        <div class="col-xs-12 center">
            <h3>@UtilsResource.VisitReport_Title.ToHtmlStringSafe()</h3>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () { });
</script>