<div id="patientsContainerId" style="display: none">
    <div class="row">
        <div class="col-xs-12 center">
            <h3>@UtilsResource.PatientReport_Title.ToHtmlStringSafe()</h3>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-xs-12 center">
            <div id="patientChartId"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var dataSource = [{
            Age: "0-4",
            Count: 5
        }, {
            Age: "5-12",
            Count: 3
        }, {
            Age: "13-17",
            Count: 6
        }, {
            Age: "18-24",
            Count: 4
        }, {
            Age: "25-39",
            Count: 5
        }, {
            Age: "40-64",
            Count: 8
        }, {
            Age: "65+",
            Count: 12
        }];

        $("#patientChartId").dxChart({
            dataSource: dataSource,
            legend: {
                visible: false,
            },
            palette: "Harmony Light",
            commonSeriesSettings: {
                type: "bar",
                valueField: "Count",
                argumentField: "Age",
                ignoreEmptyPoints: true,
                hoverStyle: {
                    hatching: {
                        direction: "right",
                        opacity: 0.85,
                        step: 8,
                        width: 4
                    }
                },
            },
            seriesTemplate: {
                nameField: "Age"
            },
            tooltip: {
                border: {
                    width: 0
                },
                color: "none",
                enabled: true,
                font: {
                    color: "#ffffff",
                    size: 18,
                    weight: 600
                },
                paddingLeftRight: 8,
                paddingTopBottom: 8,
                shadow: {
                    blur: 1,
                    color: "#000000",
                    offsetX: 0,
                    offsetY: 2,
                    opacity: 0.2
                }
            }
        });
    });
</script>
