@model GalleyItemVM

<div class="col-xs-3 col-md-2 file-thumb-container">
    <div id=""></div>
    <a class="file-thumb" href="#">
        <div class="file-thumb-img">
            <img src="~/media/@Model.Name.ToHtmlStringSafe()" />
        </div>
    </a>
</div>


@*przycisk usuwania unikalny dla elementu, metod*@